* {
    position: absolute;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    user-select: none;
    font-family: "Arial", sans-serif;
}

#iphone-bg {
    background: url("iphone.jpg") no-repeat;
    background-position: center;
    transform: scale(1.23) translateY(0.45rem);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

#skip button {
    cursor: pointer;
}

#driver-lodz {
    top: calc(50vh - 426px);
    left: calc(50vw - 240px);
    width: 480px;
    height: 854px;
    overflow: hidden;
}

#map {
    overflow: hidden;
    top: 0;
    left: 0;
    width: calc(4400px * 0.8);
    height: calc(2400px * 0.8);
}

.page {
    height: 854px;
    width: 480px;
    transition: 1s;
    transition-property: opacity;
    opacity: 1;
}

#instructions {
    line-height: 1.6rem;
    top: 120px;
    transform: translateY(854px);
    transition: 0.5s;
    transition-property: transform, opacity;
}

#instructions button {
    transition: transform 0.2s;
    float: right;
    font-size: 1.1rem;
    margin-top: 8rem !important;
    padding: 1.5rem;
    border-radius: 52px;
    background-color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
}

#skip {
    margin-top: 10rem;
    transition: 0.5s;
    width: 480px;
    float: right;
    transform: translateY(854px);
}

#instructions button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.3rem 40px -20px rgba(0, 0, 0, 0.5);
}

#intro-header, #instr-list, #instructions button {
    z-index: 999999;
    margin: 0 3rem;
    font-size: 1.2rem;
    position: relative;
}

#instr-list {
    margin-bottom: 1rem;
}

#intro-header {
    font-weight: bold;
    font-size: 2rem !important;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#logo {
    will-change: transform;
    transform: translateY(854px);
    transition: 0.5s;
    transition-property: transform;
    top: 240px;
    left: calc(50% - 100px);
    background-image: url("logo.svg");
    width: 200px;
    height: 200px;
}

#dots {
    left: calc(50% - 2rem);
}

#dots .dot {
    margin-top: 2rem;
    content: '';
    background-color: #FE026A;
    height: 0.66rem;
    width: 0.66rem;
    border-radius: 100%;
    opacity: 0.5;
}

#dots .dot:nth-of-type(1) {
    margin-left: 0;
    opacity: 1;
}

#dots .dot:nth-of-type(2) {
    margin-left: 1.1rem;
}

#dots .dot:nth-of-type(3) {
    margin-left: 2.2rem;
}

#dots .dot:nth-of-type(4) {
    margin-left: 3.3rem;
}

#pre-game {
    z-index: 999999999;
    will-change: transform;
    transform: translateY(854px);
    transition: 0.5s;
    transition-property: transform;
    position: absolute;
    height: 854px;
    width: 480px;
    background: linear-gradient(#FAFEB0, #F5FD5D);
}

#hideable {
    width: 480px;
    height: 854px;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
}

#car {
    z-index: 99999999;
    top: 0;
    left: 0;
    width: 50px;
    height: 80px;
    background: url("icons2/car.svg") no-repeat;
    background-size: contain;
}

#local-guide-container {
    background: linear-gradient(#FAFEB0, #F5FD5D);;
    transition: 0.5s;
    transform: translateX(-100vw);
    z-index: 999999999;
    width: 480px;
    height: 854px;
}

#local-guide-container * {
    position: relative;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#charicon {
    top: 2rem;
    left: 1.5rem;
    height: 10rem;
    width: 5rem;
    background-image: url("charicon.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#books {
    top: 11rem;
    left: 1.5rem;
    height: 5rem;
    width: 5rem;
    background-image: url("books.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#coins {
    top: 17rem;
    left: 1.5rem;
    height: 5rem;
    width: 5rem;
    background-image: url("coins.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#charicon, #books, #coins {
    z-index: 999999999;
}

.active {
    filter: darken(50%);
}

#question-form {
    transform: translateX(2400px);
}

#show {
    opacity: 0;
    pointer-events: none;
}

#npc-prompt, #ask, #show {
    text-align: center;
    transition: 0.5s;
    height: 250px;
    width: 400px;
    border-radius: 2rem;
    left: calc(50% - 200px);
    z-index: 999999999;
    background-color: #fff;
}

#npc-prompt {
    box-shadow: 0 0 50px -30px rgba(0, 0, 0, 0.5);
    top: 100px;
    transform: translateY(960px);
}

#npc-icon {
    background-image: url("npcicon.png");
    background-size: cover;
    margin: 36px;
    height: 72px;
    width: 72px;
    position: absolute;
    top: 0;
    left: 0;
}

#npc-prompt .choice {
    bottom: 24px;
    font-size: 20px;
    display: inline-block;
    background-color: lightgrey;
    padding: 20px 50px;
    border-radius: 50px;
    transition: 0.2s;
    cursor: pointer;
}

#npc-prompt .choice:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.3rem 40px -20px rgba(0, 0, 0, 0.5);
}

#acceptNpc {
    background-color: #EDFE00 !important;
    right: 24px;
}

#denyNpc {
    left: 24px;
}

#triple-dot-menu {
    list-style: none;
}

#sign-in-form, #question-form {
    transition: 0.5s;
}

#signInButton {
    margin-top: 3rem;
}

.buttn {
    opacity: 0;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 1.5rem;
    /* box-shadow: 0 0 10px -5px black; */
    bottom: 2rem;
}

#accelerate {
    z-index: 999999995;
    background-image: url("icons2/pedals.svg");
    background-repeat: no-repeat;
    background-position: right;
    left: calc(85% - 30px);
    width: 60px;
    height: 120px;
}

#left {
    z-index: 999999995;
    background-image: url("icons2/left.svg");
}

#right {
    z-index: 999999995;
    background-image: url("icons2/right.svg");
    bottom: 140px;
}

#showLandmark {
    will-change: transform;
    z-index: 999999996;
    background-color: #fff;
    width: 240px;
    height: 180px;
    right: 0;
    position: fixed;
    padding: 0.5rem;
    box-shadow: 0 0 50px -30px rgba(0, 0, 0, 0.5);
    transform: translateX(300px);
    transition: 0.5s;
    transition-property: transform;
}

#landmarkName, #landmarkImage, #landmarkDescription {
    position: static;
}

#landmarkImage, #landmarkImage img {
    left: calc(15px + 0.25rem);
    position: absolute;
    width: 180px;
    max-height: 180px;
}

#home-screen {
    background: url(app.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

#landmarkDescription {
    position: absolute;
    bottom: 0;
}

#waypoint {
    border-radius: 50%;
    transform: translateX(10000px) translateY(10000px);
    height: 24px;
    width: 24px;
    background-color: skyblue;
}

#distance {
    margin: 20px;
}

.npc {
    height: 5rem;
    width: 2rem;
    background: url("men.svg") no-repeat;
}

.landmark {
    height: 6rem;
    width: 7rem;
    background: url("landmarks.svg") no-repeat;
}